{% extends "base.html.twig" %}

{% block title %}About{% endblock %}

{% block body %}
    {# <h1>About</h1>
    <p>An image which can be clicked on.</p>
    <a href="{{ asset('img/glider.svg') }}">
        <img src="{{ asset('img/glider.svg') }}" alt="">
    </a> #}

    <h2>Objektorienterade webbteknologier  /  MVC</h2>

    <p>MVC kursen har sitt fokus på objektorienterad programmering i PHP. Kursens innehåll har stort fokus på just objektorienterad programmering samt användning av webbaserade ramverk. </p>

    <a href="https://github.com/dbwebb-se/mvc/tree/main"> Länk till kursens git repo </a>
    <br>
    <a href="https://github.com/gumme1/mvc-report"> Länk till mitt git repo </a>
{% endblock %}