{% extends "base.html.twig" %}

{% block title %}Home{% endblock %}

{% block body %}
    <h1>Om Anton Gummesson</h1>
        <p>Hej och välkommen till min sida! Mitt namn är Anton Gummesson och är 19 år. Jag har nyss börjat på bth och ser väldigt mycket fram emot att lära mig göra hemsidor och koda.</p>

        <p>Här har jag en länkat en fin bild till min halloween kostym för några år sedan</p>
        
        <figure class="figure center">
            <img src="img/my_pic.jpg" width="300" class="my_pic" alt="Bild på mig">
            <figcaption>Bild på min fina spidermandräkt</figcaption>
        </figure>
{% endblock %}