body {
    margin: 0 auto;
    max-width: 800px;
    background-color: #ddd;
}

h1 {
    border-bottom: 4px double #ccc;
}

/* body {
    background: url('../images/background.jpg');
    background-size: cover;
} */

.rainbow-text {
    background-image: linear-gradient(to left, violet, indigo, blue, green, yellow, orange, red);
}

@keyframes color-change {
    0%, 100% { color: red; }
    50% { color: blue; }
}

.text {
    animation: color-change 2s infinite;
}

.site-title {
    text-align: center;
    color: #eee;
}

.site-header {
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(to left, indigo, rgb(229, 92, 92));
    height: 3rem;
    border-radius: 0.5rem;
}

.footer {
    background-color: rgb(129, 109, 143);
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    padding: 0.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 3rem;
}

/**
* kmom02
*/
/*
body {
    margin: 0 auto;
    max-width: 800px;
    background-color: #eee;
    font-size: 2em;
}*/

main {
    padding: 0.5em;
    max-height: 70vh;
    margin-bottom: 5vh;
}

input {
    font-size: 1em;
}

h1 {
    border-bottom: 4px double green;
}

.die {
    font-size: 4em;
}

ul.dicearea {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
/* 
ul.dicearea li {
    display: inline;
} */

ul.cardList li {
    display: flex;
    margin-bottom: 1rem;
    margin-left: 0.5rem;
}

ul.cardList {
    flex-direction: row;
    flex-wrap: wrap;
    display: flex;
    margin-bottom: 15rem;
}


.flash-notice {
    padding: 0.5em;
    color: #004085;
    background-color: #cce5ff;
    border-color: #b8daff;
}
.flash-notice:before {
    content: "ⓘ";
}

.flash-warning {
    padding: 0.5em;
    color: #856404;
    background-color: #fff3cd;
    border-color: #ffeeba;
}
.flash-warning:before {
    content: "⚠";
}

.card {
    border: 1px solid black;
    height: 8em;
    width: 5em;
    background-color: white;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}