{% extends "base.html.twig" %}

{% block title %}Home{% endblock %}

{% block body %}
    <h1>Redovisning</h1>

    <ul >
        <li><a class ="links" href="#kmom01">kmom01</a></li>
        <li><a class ="links" href="#kmom02">kmom02</a></li>
        <li><a class ="links" href="#kmom03">kmom03</a></li>
        <li><a class ="links" href="#kmom04">kmom04</a></li>
        <li><a class ="links" href="#kmom05">kmom05</a></li>
        <li><a class ="links" href="#kmom06">kmom06</a></li>
    </ul>

    <h2 id="kmom01">kmom01</h2>
        <b>Berätta kort om dina förkunskaper och tidigare erfarenheter kring objektorientering.</b>
        <p>jag har gått kursen objektorienterad programmering i python samt snackat lite lite om det i javascript kursen, annars har jag inte jätte mycker erfarenhet av objektorienterad programmering.</p>

        <b>Berätta kort om PHPs modell för klasser och objekt. Vilka är de grunder man behöver veta/förstå för att kunna komma igång och skapa sina första klasser?</b>
        <p>PHP:s objektorienterade programmeringsmodell centreras kring klasser och objekt. Klasser definierar attribut och metoder för att beskriva objekts beteende. Arv tillåter en klass att ärva egenskaper och metoder från en annan klass, vilket möjliggör kodåteranvändning. Abstraktion fokuserar på relevanta egenskaper och beteenden, döljer interna detaljer. För att komma igång med att skapa klasser i PHP behöver du förstå dessa koncept och hur de tillämpas för att strukturera och organisera din kod effektivt.</p>

        <b>Reflektera kort över den kodbas, koden, strukturen som användes till uppgiften me/report, hur uppfattar du den?</b>
        <p>Känns just nu som väldigt mycket att ta in, men själva koden känns organiserad och lätt att förstå när man väl börjar titta på den. Det tar lite att koppla hur allt fungerar tillsammans bara.</p>

        <b>Med tanke på artikeln “PHP The Right Way”, vilka delar in den finner du extra intressanta och värdefulla? Är det några särskilda områden som du känner att du vill veta mer om? Lyft fram några delar av artikeln som du känner mer värdefulla.</b>
        <p>Har alltid svårt att läsa dokumentation men fick lite intresse i säkerhetsdelarna, som att försvara mot sql injektioner med bland annat pdo.</p>

        <b>Vilken är din TIL för detta kmom?</b>
        <p>Min TIL för detta kmom är hur man på ett enkelt sätt kan ställa upp sin webbsida genom att använda sig av routes. Samt hur detta kan simplificera arbetet och göra det enklare att ändra saker i efterhand.</p>
        
    <h2 id="kmom02">kmom01</h2>
    <h2 id="kmom03">kmom01</h2>
    <h2 id="kmom04">kmom01</h2>
    <h2 id="kmom05">kmom01</h2>
    <h2 id="kmom06">kmom01</h2>


{% endblock %}